@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.inter{
    font-family: "Inter", sans-serif;
}
.raleway {
    font-family: "Raleway", sans-serif;
}

body{
    /* background-color: blue; */
    min-height: 100vh;
}

html{
    scroll-behavior: smooth;
}

.bg{
    background-color: green;
    color:#fff;
}

.bgd{
    background-color: rgb(128, 175, 128);
}